body {
    font-family: 'Inter', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Logo */
.logo {
    margin-bottom: 20px; /* Ridotto lo spazio sotto il logo */
}

.logo h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #007bff;
}

/* Form container */
.form-container {
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    width: 100%;
    max-width: 360px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Titolo del form */
.form-container h2 {
    margin-bottom: 15px; /* Ridotto lo spazio sotto il titolo */
    font-size: 1.4rem;
    color: #333;
}

/* Input */
input {
    width: 100%;
    padding: 12px;
    margin: 12px 0; /* Uniformato margine degli input */
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    box-sizing: border-box;
}

/* Pulsante */
button {
    width: 100%;
    padding: 14px; /* Uniformato padding del pulsante */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 12px; /* Uniformato margine sopra il pulsante */
}

button:hover {
    background-color: #0056b3;
}

/* Link */
.link {
    color: #007bff;
    text-decoration: none;
    font-size: 0.9rem;
    display: block;
    margin-top: 15px;
}

/* Messaggio di errore */
.error-message {
    color: #d9534f;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

/* Messaggio di successo */
.success-message {
    color: #28a745;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

/* Footer */
footer {
    position: absolute;
    bottom: 10px;
    font-size: 0.8rem;
    color: #777;
    text-align: center;
}

/* Back link */
.back-link {
    display: block;
    text-align: center;
    margin-top: 20px; /* Uniformato margine sopra il link */
    font-size: 1.2rem;
    font-weight: bold;
    color: #333; /* Colore scuro */
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

/* Titolo dashboard */
.dashboard-container h2 {
    font-size: 2.1rem; /* Uniformato la dimensione del titolo */
    font-weight: bold;
    color: #333; /* Colore scuro */
    margin-bottom: 15px; /* Uniformato margine sotto il titolo */
}
